$backgroundColor: #082B59; // navy blue
$backgroundColorTwo: #ffffff; // white
$accentColorOne: #59331d; // brown
$accentColorTwo: #d98555; // peach orange
$mainFont: 'Lato', sans-serif; // body
$headerFont: 'Poppins', sans-serif; // headers
$textColor: #f2f2f2; // slightly off-white